{{> header }}
{{> navbar }}
    
<div class="row">
    <div class="col-8">
        <h2>Here we only have an image</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit ante interdum, 
        auctor bibendum vehicula dignissim natoque semper dictumst per, vel phasellus pharetra velit fusce pellentesque vitae justo. 
        Congue cubilia tincidunt conubia ut lectus eu aliquam sem vivamus fringilla torquent, 
        sapien blandit sociis quam odio augue himenaeos diam eget id.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/hotline_miami.png" alt="No img" class="img-thumbnail">
    </div>
</div>

{{> footer }}